{% render 'partials/head.liquid' %}

<section class="ins-container">
    <nav class="ins-controls">

        <details class="ins-btn filters">
            <summary>Filter</summary>
            <label>
                Instrument
                <select name="instrumenten">

                    <option value="gitaar" {% if instrumentType == "gitaar" %}selected{% endif %}>Gitaar</option>
                    <option value="gitaar-3kwart" {% if instrumentType == "gitaar-3kwart" %}selected{% endif %}>Gitaar 3/4</option>
                    <option value="basgitaar" {% if instrumentType == "basgitaar" %}selected{% endif %}>Basgitaar</option>
                    <option value="elektrische-gitaar" {% if squad == "elektrische-gitaar" %}selected{% endif %}>Elektrische gitaar</option>
                    <option value="cello" {% if instrumentType == "cello" %}selected{% endif %}>Cello</option>
                    <option value="viool-tiende" {% if instrumentType == "viool-tiende" %}selected{% endif %}>Viool 1/10</option>
                    <option value="viool-achtste" {% if instrumentType == "viool-achtste" %}selected{% endif %}>Viool 1/8</option>
                    <option value="viool-kwart" {% if instrumentType == "viool-kwart" %}selected{% endif %}>Viool 1/4</option>
                    <option value="viool-half" {% if instrumentType == "viool-half" %}selected{% endif %}>Viool 1/2</option>
                    <option value="viool-3kwart" {% if instrumentType == "viool-3kwart" %}selected{% endif %}>Viool 3/4</option>
                
                </select>
            </label>
        </details>
        
        <button class="ins-btn">Sorteer</button>
        
        <button class="ins-btn">Nieuw instrument</button>
        
        <label class="ins-switch">
            <input type="checkbox" checked>
            <span class="ins-slider"></span>
        </label>
    </nav>

    <ul class="ins-list">
        {% for instrument in instrumenten %}
            <li class="ins-row">
                <a href="/instrumenten/{{ instrument.key }}" class="ins-link">
                    <h2 class="ins-title">{{ instrument.name }}</h2>
                    <p class="ins-status">status: {{ instrument.status }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>

{% render 'partials/foot.liquid' %}